<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pica's blog</title>
</head>
<body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 17.05.2017, 11:16</p>
            <h2><a href="">My first post</a></h2>
            <p>test 123</p>
        </div>

        <div>
            <p>published: 17.05.2017, 11:17</p>
            <h2><a href="">My second post</a></h2>
            <p>test 456</p>
        </div>
</body>
</html>